<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/c89ba5fe1c.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/styling.css">
  <link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>

	

	<title>The Vinyl DB</title>
</head>
<body>

<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">The Vinyl DB</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if (!currentUser){ %>
          <a class="btn btn-light dropdown-item" href="/login">Login</a>
          <a class="btn btn-light dropdown-item" href="/register">Register</a>
        <%} else {%>
          <a class="btn btn-light dropdown-item" href="/<%=currentUser._id%>/new">New Post</a>
          <a class="btn btn-light dropdown-item" href="/<%=currentUser._id%>/profile">My Profile</a>
          <a class="btn btn-light dropdown-item" href="/<%=currentUser._id%>/favs">Favourites</a>
          <form action="/logout" method="POST">
          <button class="btn btn-light dropdown-item">Logout</button></form>
        <%}%>
        </div>
      </li>
    </ul>
    <div class="d-flex mx-0 px-0">
      <form class="float-right" action="/search" method="GET">
        <input class="searchbox" type="text" name="term" placeholder="Search...">
      </form>
     </div>
  </div>
</nav>

<div class="container">
  <% if(error && error.length>0){ %>
  <div class="alert alert-dark" role="alert">
    <%= error %>
  </div>
  <%}%>
  
  <% if (success && success.length>0){ %>
  <div class="alert alert-secondary" role="alert">
    <%= success %>
  </div>
  <%}%>
  
</div>

