<% include header  %>


<h1 class="text-center wlc">WELCOME TO THE BIGGEST ID HUNTING</h1>
<h4 class="text-center wlc2">Right where Shazam fails</h4>


<div class="searchBox" style="margin-bottom: 50px; height: 300px; min-width: 100%">
	<div class="container">
		<div class="flex-row">
			<div class="col-12" style="padding-top: 100px;">
				<% if (!currentUser){ %>
				<a href="/login">
			<button style="background-color: #fff; opacity: 0.7" 
					type="button" class="pt-4 btn btn-lg btn-light btn-block">
					Ask the hunters now!</button></a>
					<%}else{%>
					<a href="/<%=currentUser.id%>/new">
			<button style="background-color: #fff; opacity: 0.7" 
					type="button" class="pt-4 btn btn-lg btn-light btn-block">
					Ask the hunters now!</button></a>
					<%}%>
			</div>
		</div>
	</div>
</div>


<hr class="">

<h1 class="text-center wlc2 mt-4 mb-5">LATEST POSTS FROM OUR USERS :)</h1>


<div class="container">
	<div class="row-6">
		<% for (var i=posts.length-1; i>10; i--){ %>		
			<div class="section">
				<video controls class="img-thumbnail" width="50%">
					<source src ="<%= posts[i].link %>" ></source>	
				</video>
					<a href="/show/<%= posts[i]._id %>"><h2> 
						<%= posts[i].artist %> <strong> - </strong> 
						<%= posts[i].title %></h2></a>
				<p class="col-12 px-0 content2"> <%= posts[i].content %></p>
				<p>Submitted by <%= posts[i].username%> - <%= moment(posts[i].createdAt).fromNow()%></p>
				<hr>
			</div>
		<% }; %>
		<a href="/viewAll"><button class="btn btn-sm btn-outline-dark mb-3">View more</button></a>
	</div>
</div>

<% include footer %>