<%include header%>


<script type="text/javascript">
  function checkPassword(form) {
    var password = $("#password").val();
    var confirmPassword = $("#passwordconfirm").val();

    if (password != confirmPassword)
       alert("Passwords don't match.");
}
</script>



<div class="profINTRO">
	<div class=" ml-0">
		<h3 class="wlc">Hello <%=user.username%>! </h3>
		<h5 class="wlc2">What are you gonna listen to today?</h5>
	</div>
</div>

<div class="background"></div>


<div style="margin:auto; margin-right: 70px; margin-left:70px; ">
<nav class="navbar navbar-light navbar-expand-lg bg-light" style="margin-top: -360px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal"><img src="https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png"style="height: 12px; width: 12px;position: relative"></button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="margin-left: -10px;">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-dark" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Avatar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-outline-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Password</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
      <form action="/<%=user._id%>/updateAvatar/" method="post">
      <input type="text" name="avatar" style="width:90%; margin-bottom:10px" 
            placeholder="Avatar (blank for no avatar)">
          <button class="btn-outline-dark">ok</button>
      </form>
</div>


  <div class="tab-pane fade mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <form action="/<%=user._id%>/updatePass/" method="post" onSubmit = "return checkPassword(this)">
    <input type="password" name="password" style="width:90%; margin-bottom:10px"  
                                placeholder="Password" id="password">
            <input type="password" name="passwordconfirm" 
                                  style="width:90%" placeholder="Password Confirm" id=passwordconfirm>
                                  <button class="btn-outline-dark">ok</button>
    </form>
  </div>


  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="ml-2">
  <% if(user.avatar !== ''){%>
    <button class="button button4" 
    		style="background-image: url(<%=user.avatar%>); 
    			-webkit-background-size: cover;"></button>
  <%} else {%>

   <button class="button button4" 
        style="background-image: url('https://image.flaticon.com/icons/svg/17/17004.svg')
          -webkit-background-size: cover;"></button>
  <%}%>
</div>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mr-2">
        <a class="nav-link" href="#">Collection</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="#">Favourites</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="#">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-2" href="#">Posts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cart
        </a>
      </li>
    </ul>
    <form class="form-inline" style="margin-left: 5%;  width: 100%; display: inline-flex;">
      <input class="mr-sm-2 mt-sm2" type="search" style="width:100%"
      	placeholder="Dig up <%=user.username%>'s collection">
      <button class="btn-outline-dark mt-2" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>


<h3 class="wlc2 mt-5 mb-1">Recently listened to</h3>

<div class="scrollmenu mt-2" style="position: relative;">
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS649250-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://www.residentadvisor.net/images/news/2019/traumprinz_forgotten_world_ep.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS626134-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://img.discogs.com/Xz5-AdO4WBueYEM84FIWRCFFzTE=/472x312/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-1993158-1513802902-1307.jpeg.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://img.discogs.com/st9o3bVIPfltcsvtr9HimYGDgBY=/fit-in/340x341/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8661616-1466125649-5808.bmp.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://i1.sndcdn.com/artworks-000087079421-f2dfqw-t500x500.jpg"></a>
</div>


<h3 class="wlc2" style="margin-top: 40px;">Wishlist</h3>

<div class="scrollmenu mt-2" style="position: relative; margin-bottom: 100px;">
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS350266-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS479034-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS409757-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS369474-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS502489-01A-BIG.jpg"></a>
  <a href="#"><img style="width: 300px; height: 300px;" src="https://soundshelter.nyc3.cdn.digitaloceanspaces.com/images/covers/CS471522-01A-BIG.jpg"></a>
</div>


<%include footer%>